*{
    margin: 0;
    padding: 0;
}


/* NAV BAR */
.nav-user{
    background: #888;
}


/* compose */
.com-form{
    margin: 4rem 15rem;
    padding: 2rem;
    background-color: beige;
}

/* blogs */
.blog-scroll{
    display: flex;
    justify-content: center;
}

.blog{
    position: relative;
    width: 900px;
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
    padding: 2rem;
    padding-bottom: 0;
    background-color: bisque;
    border-radius: 20px;
}

.delete{
    position: absolute;
    right: 20px;
    top: 15px;
}
.delete i{
    font-size: 1.2rem;
}
.delete i:hover{
    transform: scale(1.5);
    transition: 0.3s;
    transform: rotate(5deg);
    text-shadow: -2px 2px 2px #888
}


/* register */

.reg-form{
    margin: 4rem 15rem;
    padding: 2rem;
    background-color: beige;
}

/* login */

.login-form{
    margin: 4rem 15rem;
    padding: 2rem;
    background-color: beige;
}

/* DASHBOARD */

.dashboard{
    display: flex;
    justify-content: space-between;
}

.dash-side-links{
   background: #525050;
   width: 15%;
   height: 100vh;
   text-align: center;
   border-radius: 15px;
}

.user-img img{
    margin-top: 4rem;
    height: 4rem;
}
.dash-side-ul1{
   text-align: left;
   margin:2rem 0 0 3rem;
}

.dash-main{
    background:beige;
}